.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.container-message {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }